// ==========================================================================
// Mobile Custom Styles
// ==========================================================================

// your styles go here...
#viewport {
  width:100%;
  position:relative;
}
#players-number {
  position:absolute;  
  left:0;
  top:0;
  background:pink;
}

#score-list {
  position:absolute;
  left:100%;
  top:0;
  background:green;
}

body {
  background:red;
}
