@import 'base/_variables.less';

button {
  border:none; 
  width:100%;
}

header {
    padding:0.5rem;
    text-transform:uppercase;
    text-align:center;
    color:#fff;      
}

html, body{
  height:100%;
}

#viewport {
  width:100%;
  height:100%;
  position:relative;  
  -webkit-transform-style:preserve-3d;
  transform-style:preserve-3d;
  font-family:@default-custom-family;
  overflow:hidden;
}

#players-number {
  position:absolute;
  top:0;
  width:100%;
  background:#68BCFF;
  height:100%;
  padding:0.5rem 1rem;
  
  h1 {
    position:relative;
    z-index:2;
    color:@blue;
    
    &:before {
      content:'Score Tracker';      
      color: lighten(@green, 40%);
      position:absolute;
      z-index:-1;
      text-shadow:none;
      top:-0.75rem;
      left:-0.75rem;
      opacity:0.55;
    }
    
    &:after {
      content:'Score Tracker';      
      color: lighten(@orange, 40%);
      position:absolute;
      z-index:-1;
      text-shadow:none;
      width:100%;
      top:0.75rem;
      left:0.75rem;
      opacity:0.25;
    }
  }
  
  p {
    font-size:1.5rem;
    line-height:2.5rem;
    text-align:justify;
  }
  
  input[type="number"]{
    background:transparent;
    border-radius:0;
    padding:0.1rem 0.5rem;
    color:#fff;
    font-size:2rem;
    font-weight:700;
    border:0.2rem solid #fff;
    text-align:center;
  }
  
  #starting-score {
    max-width:4.9rem;
  }
  
  #players-value {
    max-width:3.7rem;
  }
  
  .js-player-number {
    padding:0.5rem;
    margin: 0.5rem 0;
    font-weight:500;
    font-size:2.5rem;
    color:#68BCFF;
    text-shadow:-0.1rem -0.1rem darken(#68BCFF, 30%);
    background:#fff;
  }
  
  &.fadeOutLeft,
  &.fadeOutRight {
    z-index:-1;
  }
 
  &.fadeIntLeft,
  &.fadeInRight {
    z-index:1;
  }
}

#score-list {
  position:absolute;
  top:0;
  width:100%;  
  color:#fff;
  height:100%;
  background:#68BCFF;
  z-index:0;
  opacity:0;
    
  
  &.fadeOutLeft,
  &.fadeOutRight {
    z-index:-1;
  }

  &.fadeIntLeft,
  &.fadeInRight {
    z-index:1;
    opacity:1;
    
  }
  
  .buttons-container {
    position: absolute;
    width:100%;
    bottom:0;
    overflow:hidden;
  }
  
  .players-list {
    .row {
      overflow:hidden;
      height:3rem;
      border-bottom:0.3rem solid #fff;
    }
      
    > .row:nth-child(1) {
      background: @red;
    }
    
    > .row:nth-child(2) {
      background: @yellow;
    }
    
    > .row:nth-child(3) {
      background: @blue;
    }
    
    > .row:nth-child(4) {
      background: @green;
    }
    
    > .row:nth-child(5) {
      background: @black;
    }
    
    > .row:nth-child(6) {
      background: @purple;
    }
    
    > .row:nth-child(7) {
      background: @orange;
    }
    
    > .row:nth-child(8) {
      background: @pink;
    }
  [class$='score'] {
    font-size:2rem;
    height:100%;
    line-height:2.6rem;
    text-shadow:0.1rem 0.1rem rgba(0,0,0,0.5);
  }
  
  }
}





[class$='add-point'],
[class$='subtract-point'] {
  color:#fff;
  background:transparent;
  font-size:2rem;
  font-weight: 700;
  border-radius:0;
  height:100%;  
}

[class$='add-point'] {
  border-right:0.3rem solid #fff;
}

[class$='subtract-point'] {
  border-left:0.3rem solid #fff;
}


h1,.h1 {
  font-size:2.5rem;
  font-weight:700;
  color:#ff;
}

[class*='reset'],
[class*='reset--all'] {
  height:3rem;
  font-size:1.8rem;
  font-weight:bold;
  color:#fff;
  box-shadow:0 0.2rem darken(@red,10%);
  width:49%;
}  


[class*='reset'] {
  background: repeating-linear-gradient(
  -45deg,
  #B72424,
  #B72424 10px,
  #CE2121 10px, 
  #CE2121 20px
);
  border-radius:0.5rem 0 0 0.5rem;  
  float:left;
}
 
[class*='reset--all'] {
  background: repeating-linear-gradient(
  45deg,
  #B72424,
  #B72424 10px,
  #CE2121 10px, 
  #CE2121 20px
);
  border-radius:0 0.5rem 0.5rem 0;  
  border-right:none;
  float:right;
}

button[class*='-start']{
  border-radius: 0.5rem 0.5rem;  
  border-right: medium none;
  background:lighten(@orange,10%);
  color:#fff;
  font-size:1.8rem;
  font-weight:bold;
  box-shadow:0 0.2rem darken(@orange,10%);
}